/*set a max-width for horizontal fluid layout and make it centered */
.container-fluid {
  /*margin-right: auto;*/
  /*margin-left: auto;*/
  /*max-width: 900px; /* or 950px */*/
}

/*.navbar {
  height: 70px;
}*/

/*p { font-size: 18px; }*/

/*li { font-size: 16px; }*/

#comp-title h1 {
  /*font-size: 65px;*/
  /*color: #d9d9d9;*/
}

#comp-title p {
  /*font-size: 24px;*/
  /*max-width: 650px;*/
  /*color: #d9d9d9;*/
}

.jumbotron {
  min-height: 375px;
  background-image: url("/image/LantingXuProc.jpg");
  background-size: cover;
}



.navbar-nav > li > a {
  /*padding-top: 10px;
  padding-bottom: 10px;*/
  /*line-height: 30px;*/
  font-size: 20px;
}
